<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>For Google Login</h3>
      <button class="btn btn-primary" (click)="signInWithGoogle()">GoogleLogin</button>
      <hr>
      <h3>For Signout</h3>
      <button class="btn btn-primary" (click)="signOut()">SignOut</button>
      <hr>
      <div *ngIf="user !=null">
        <img [src]="user.photoUrl">
        <h3>{{user.name}}</h3>
        <h3>{{user.email}}</h3>
        <hr>
        <h3>For Facebook Login</h3>
        <button class="btn btn-primary" (click)="signInWithFacebook()">FacebookLogin</button>
      </div>
    </div>
  </div>
</div>
